body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	background: url(fppic1.jpg) ;
	background-size: cover;
	background-position: center no-repeat;
	font-family: sans-serif;
}
.fpassword {
	width: 300px;
	height: 400px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	bottom: 50%;
	right: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border-radius: 6%;
	padding: 85px 25px;
	box-shadow: 16px 30px 60px rgba(0, 0, 0, 0.50), 16px 15px 15px rgba(0, 0, 0, 0.50);
}
.avatar {
    width: 125px;
	height: 125px;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	left: calc(27%);
}
.fpassword p {
	margin: 0;
	padding: 0;
	font-size: bold;
}
.fpassword label {
	width: 100%;
	margin-bottom: 20px;
}
.fpassword input {
	width: 100%;
	margin-bottom: 20px;
}
.fpassword input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 14px;
}
.fpassword input[type="submit"] {
	border: none;
	background: lightblue;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.fpassword input[type="submit"]:hover {
	cursor: pointer;
	border: none;
	background: lightpink;
	outline: none;
	height: 40px;
	color: #000;
	font-size: 18px;
	border-radius: 20px;