body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
	background: url(cnapic1.jpg) ;
	background-size: cover;
	background-position: center, no-repeat;
	font-family: sans-serif;
}
.cna {
	width: 350px;
	height: 538px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 20px;
	border-radius: 6%;
	box-shadow: 16px 30px 60px rgba(0, 0, 0, 0.50), 16px 15px 15px rgba(0, 0, 0, 0.50);
}
.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(35%);
}
.cna p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.cna label {
	width: 100%;
	margin-bottom: 20px;
}
.cna input {
	width: 100%;
	margin-bottom: 20px;
}
.cna input[type="text"], input[type="email"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 14px;
}
.cna input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: lightblue;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.cna input[type="submit"]:hover {
	cursor: pointer;
	background: lightpink;
	color: #000;
	font-size: 18px;
	border-radius: 20px;
	border: none;
	outline: none;
	height: 40px;
}
h1 {
	margin: 0;
	padding: 0 0 20px;
    text-align: center;
    font-size: 30px; 	
	
}
.cna a {
	text-decoration: none;
	font-size: 16px;
	line-height: 16px;
	color: lightblue;
}
.cna a:hover {
	color: lightpink;
}